/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

/* Header */
.header {
  background-color: #1f2937;
  padding: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

/* Hero section */
.hero {
  background-color: #1f2937;
  padding: 100px 200px;
  display: flex;
  align-items: center;
  flex: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin-right: 20px;
}

.title :nth-of-type(1) {
  color: #F9FAF8;
  font-weight: 700;
  font-size: 48px;
}

.title :nth-of-type(2) {
  font-size: 18px;
  color: #E5E7EB;
}

.hero button.signup {
  font-family: Roboto, sans-serif;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 18px;
  padding: 6px 30px;
}

.image {
  background-color: grey;
  min-width: 470px;
  padding: 100px 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Information section */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0px 90px;
}

.info .random-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 35px;
}

.boxes.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.boxes.container .sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 150px;
}

.box {
  border: 3px solid #3882f6;
  border-radius: 12px;
  width: 150px;
  height: 150px;
}

.box-text {
  text-align: center;
  color: grey;
}

/* Quote section */
.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 310px;
  gap: 5px;
}

.quote .text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 100;
}

.quote .author {
  color: #1f2937;
  font-weight: 700;
  font-size: 22px;
  align-self: flex-end;
  margin-right: 30px;
}

/*  Contact section */
.contact {
  display: flex;
  background-color: #3882f6;
  border-radius: 8px;
  margin: 100px 200px;
  padding: 40px 20px;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.call-action :nth-of-type(1) {
  font-size: 24px;
  font-weight: 700;
}

.contact button.signup {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: white;
  background-color: #3882f6;
  border-radius: 9px;
  border: 2px solid white;
  padding: 5px 30px;
}

/* Footer */
.footer {
  background-color: #1f2937;
  color: #E5E7EB;
  text-align: center;
  padding: 35px 200px;
}