/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.links {
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
}

.header {
  height: 480px;
  background-color: #1f2937;
  padding: 20px 200px;
  display: flex;
  flex-direction: column;
}

.logotxt {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  display: flex;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.hero :nth-of-type(1) {
  color: #F9FAF8;
  font-weight: 700;
  font-size: 48px;
}

a,
.hero :nth-of-type(2) {
  font-size: 18px;
  color: #E5E7EB;
}

.hero button {
  background-color: #3882f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}