/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0; 
  height: 100vh;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

h1,
p {
  margin: 0;
}

/* Header */
header {
  background-color: #f5c300;
  padding: 20px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.name {
  width: 800px;
  height: auto;
}

.about {
  font-size: 18px;
  font-weight: 100;
  color: black;
}

/* Hero section */
.hero {
  background-color: #f5c300;
  padding: 0px 200px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.about-me {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.about-me .main-text {
  width: 250px;
}

.about-me .subtext {
  font-size: 18px;
  color: #3b2409;
}

.avatar {
  max-height: 350px;
}

/* Poster section */
.poster-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
}

.stand {
  width: 250px;
  margin-top: 35px;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30%;
}

.content {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.number,
.title {
  color: #f5c300;
  font-size: 50px;
}

.number {
  font-weight: 800;
}

.title {
  font-weight: 400;
}

.description {
  color: #3b2409;
}

.poster-box {
  display: flex;
  flex-direction: column;
}

.poster {
  width: 400px;
}

/* Quote section */
.quote {
  background-color: #3b2409;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 310px;
  gap: 5px;
}

.quote .text {
  color: #f5c300;
  font-size: 36px;
  font-weight: 100;
}

.quote .author {
  color: #f5c300;
  font-weight: 700;
  font-size: 22px;
  align-self: flex-end;
  margin-right: 30px;
}

/*  Contact section */
.contact {
  display: flex;
  background-color: #3ba0b0;
  border-radius: 8px;
  margin: 100px 200px;
  padding: 40px 20px;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.call-action :nth-of-type(1) {
  font-size: 24px;
  font-weight: 700;
}

.contact button.signup {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: white;
  background-color: #3ba0b0;
  border-radius: 9px;
  border: 2px solid white;
  padding: 5px 30px;
}

/* Footer */
.footer {
  background-color: #f5c300;
  color: #3b2409;
  text-align: center;
  padding: 35px 200px;
}